---
services:
  drupal:
    image: centurylink/drupal:7.28
    command: supervisord -n
    ports:
    - 80:80:443
    volumes:
    - "/var/drupal/sites:/app/sites"
    health:
      type: normal
      endpoint: "/"
      protocol: http
      timeout: 120s
      accept:
      - '200'
      - 300-399
databases:
- mysql
