---
services:
  letschat:
    image: sdelements/lets-chat:0.4.7
    volumes:
    - "/var/letschat/uploads:/usr/src/app/uploads"
    health:
      type: normal
      endpoint: "/"
      protocol: http
      timeout: 180s
      accept:
      - '200'
      - 300-399
    ports:
    - 8080:80:443
    dockerfile_path: docker/Dockerfile
databases:
- mongodb
