---
services:
  redmine:
    image: sameersbn/redmine:3.3.2
    ports:
    - 80:80:443
    health:
      type: normal
      endpoint: "/"
      protocol: http
      timeout: 180s
      accept:
      - '200'
      - 300-399
    volumes:
    - "/var/run/docker.sock:/run/docker.sock"
    - "/var/redmine/data:/home/redmine/data"
databases:
- mysql
