services:
  igor:
    image: cloud66/igor:1.0.3
    dockerfile_path: Dockerfile
    volumes: ["/opt/chat-ops-common:/opt/chat-ops-common"]
    ports:
    - 8080:8080
  registration_webpage:
    image: cloud66/igor-webpage:1.0.3
    dockerfile_path: Dockerfile
    volumes: ["/opt/chat-ops-common:/opt/chat-ops-common"]
    ports:
    - 8080:80
databases:
- redis
